@import url('https://fonts.googleapis.com/css?family=Righteous');

h1 {
	margin: 0;
	padding-top: 30px;
}

h1, h3, article header {
	font-family: 'Righteous', cursive;
}

div.row {
	margin-bottom: 0;
}

div.yellow {
	margin-bottom: 30px;
}

div.row h2 {
	margin-top: 0;
}

h3 {
	font-size: 1.8em;
}

header p {
	padding-bottom: 40px;
}

img {
	margin-top: -50px;
}

footer {
	margin-top: 20px;
}